*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin-top: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2, a {
  color: grey;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-decoration: none!important;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 200px;
}

h1, h2 {
  margin: 0 auto;
  height: 2em;
  width: 80%;
  padding-top: 1em;
  line-height: 0.8em;
  justify-content: center;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}
svg {
  width: 20%;
  margin: 0 auto!important;
  font-size: 1.3em;
}
.card-header {
  display: flex;
  flex-direction: row;
  height: 2.2em;
  width: 17em;
  align-items: baseline;
  margin: 0 auto;
  cursor: pointer;
}
.card {
  border: 1px solid rgb(235, 231, 231);
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
  width: 20em;
  height: 18em;
  border-radius: 4px;
  margin: 1.2em;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  margin: 0 auto;
  width:85vw;
  justify-content: center;
  background-color: blue;
  height: auto;
  border: 1px solid rgb(235, 231, 231);
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(56, 69, 117, 0.25);
  border-radius: 6px;
}
img {
  height: 77%;
  width: auto;
  padding: 1.2em;
  margin: 0 auto;
}

a {
  margin: 0 auto;
  height: 2em;
  padding-bottom: 1em;
}
